@{
    ViewBag.Title = "Successful";
}
<div class="container">
    <div class="alert alert-block alert-success">
       <h4 class="alert-heading">Congratulations!</h4>
       <p>You are now logged in.</p>
        <br/><br/>
    </div>

    <div class="row">
        <div class="col-md-2"></div>  
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="\Images\uploadmovie.jpg" alt="nothing">
                <h3 class="text-center">Upload Movie</h3>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href=@Url.Action("UploadMovie","Movie") class="thumbnail">
              <img src="\Images/uploadmovie.jpg" alt="...">
                <h3 class="text-center">Upload Movie</h3>
            </a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="\Images/uploadmovie.jpg" alt="...">
                <h3 class="text-center">Upload Movie</h3>
            </a>
            </div>
            <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="\Images/uploadmovie.jpg" alt="...">
                <h3 class="text-center">Upload Movie</h3>
            </a>
            </div>
        </div>
</div>
