
@{
    ViewBag.Title = "Watch It ;) ";
}
<!-- Slider -->
	<div id="bzns-slider" class="carousel slide" data-ride="carousel">
	  <!-- Indicators
	  <ol class="carousel-indicators">
	    <li data-target="#bzns-slider" data-slide-to="0" class="active"></li>
	    <li data-target="#bzns-slider" data-slide-to="1"></li>
	    <li data-target="#bzns-slider" data-slide-to="2"></li>
	  </ol>
	  -->

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="Images/movie1.png" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<h3>The God Father <span>Great Movie</span></h3>
		      	</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="Images/movie1.png" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<h3>The God Father <span>Great Movie</span></h3>
		      	</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="Images/movie1.png" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<h3>The God Father <span>Great Movie</span></h3>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#bzns-slider" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#bzns-slider" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<!-- / Slider -->
<div class="container" style="padding-top:150px">
        <div class="jumbotron">
            <h1>Watch It</h1>
                <p>Its a Place where you can suggest movies of All genres to your friends. Which Movies You are watching these Days?</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Your Free Account</a></p>

        </div>
    </div>
    <div class="container" style="padding-top:50px">
        <h1>Genres</h1>
            
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="Images\Educations.png" alt="..."/>
                            <div class="caption">
                                            <p><a href="@Url.Action("MoviesCategories", "Search")" class="btn btn-default" role="button">Action</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="Images\Educations.png" alt="..."/>
                            <div class="caption">
                                            <p><a href="#" class="btn btn-default" role="button">Romantic</a></p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="Images\Educations.png" alt="...">
                            <div class="caption">
                                            <p><a href="#" class="btn btn-default" role="button">Comedy</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="Images\Educations.png" alt="...">
                            <div class="caption">
                                            <p><a href="#" class="btn btn-default" role="button">Horror</a></p>
                            </div>
                        </div>
                    </div>
                
                </div>
                
    </div>